.movies__add-btn{
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  border-radius: 6px;
  border: none;
  width: 100%;
  background-color: #F9F9F9;
  padding: 11px 0 9px;
  cursor: pointer;
}