.App {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}
.section{
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}
.section-title{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}
.section_search{
  padding: 70px 70px 69px;
}
.horizontal-line{
  height: 1px;
  width: 100%;
  background-color: #000;
  border: none;
}
.horizontal-line_grey{
  background-color: #E8E8E8;
}
.horizontal-line_portfolio{
  margin-bottom: 20px;
}
.vertical-line{
  height: 40px;
  width: 1px;
  background-color: #CBCBCB;
}
