.App {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}
.horizontal-line{
  height: 1px;
  width: 100%;
  background-color: #000;
  border: none;
}
.horizontal-line_grey{
  background-color: #E8E8E8;
}
.horizontal-line_portfolio{
  margin-bottom: 20px;
}
