.promo{
  padding: 20px 40px 0;
}
.promo__container{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  padding-bottom: 30px;
}
.promo__title{
  max-width: 730px;
  margin: 160px 0 150px;
  font-weight: 400;
  line-height: 58px;
  font-size: 50px;
  text-align: center;
}
.promo__link{
  background-color: #E8E8E8;
  border-radius: 10px;
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  padding: 10px 0px;
  margin-right: 10px;
  width: 96px;
  display: inline-block;
  text-align: center;
}
.promo__link:last-child{
  margin-right: 0;
}
.project{
  padding: 110px 70px;
}
.section-title_project{
  margin-bottom: 23px;
}
.project__content{
  margin: 70px 0 110px;
  display: grid;
  grid-template-columns: repeat(2, 550px);
  column-gap: 40px;
  row-gap: 26px;
}
.project__main-text{
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
.project__sub-text{
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.project__timeline{
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: center;
  row-gap: 14px;
}
.project__time{
  padding: 9px 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.project__time_one-week{
  background-color: #2BE080;
}
.project__time_four-weeks{
  background-color: #F2F2F2;
}
.project__sub-time{
  color: #A0A0A0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}
.techs{
  padding: 100px 70px;
  background-color: #F5F5F5;
}
.section-title_techs{
  margin-bottom: 23px;
}
.techs__content{
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.techs__title-text{
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  max-width: 600px;
  margin: 0 0 26px;
}
.techs__text{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  max-width: 460px;
  margin: 0 0 100px;
}
.techs__list{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
}
.techs__list-item{
  width: 90px;
  background-color: #E8E8E8;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 21px 0 22px;
}
.student{
  padding: 110px 70px 100px;
}
.section-title_student{
  margin-bottom: 23px;
}
.student__wrapper{
  margin-top: 66px;
  display: flex;
  justify-content: space-between;
}
.student__content{
  max-width: 600px;
}
.student__name{
  font-size: 58px;
  font-weight: 400;
  line-height: 58px;
  margin: 0 0 18px;
}
.student__position{
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  margin: 0 0 26px;
}
.student__description{
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 99px;
}
.student__link{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-right: 20px;
  color: #000;
  text-decoration: none;
}
.student__link:last-child{
  margin-right: 0;
}
.student__image{
  border-radius: 10px;
  width: 270px;
  height: 327px;
}
.portfolio{
  padding: 0 70px 125px;
}
.section-title_portfolio{
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}
.portfolio__list{
  list-style: none;
  padding: 0;
}
.portfolio__item{
  display: flex;
  justify-content: space-between;
}
.portfolio__name{
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 50px;
  font-weight: 400;
}
.portfolio__item:last-child .portfolio__name{
  margin: 0;
}
.portfolio__link{
  background-image: url(../../images/portfolio-arrow.svg);
  width: 29px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
}